@import './variables';

.home {
  padding: $padding-section;
  min-height: 100vh;

  .card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }

  // Dark mode
  body.dark & {
    background-color: #1a1a1a;
    color: #eaeaea;
  }

  @media (max-width: 768px) {
    .card-list {
      flex-direction: column;
      align-items: center;
    }
  }
}