@import './variables';
@import './Header';
@import './Footer';
@import './Card';
@import './Home';
@import './Carousel';
@import './Logement';
@import './Rating';
@import './Loader';
@import './About';

body.light {
    background-color: $white;
    color: $secondary-color;
  }
  
body.dark {
    background-color: #1a1a1a;
    color: #eaeaea;
}
    
a {
    color: inherit;
    text-decoration: none;
}
    
.tag {
    background-color: $primary-color;
    color: white;
}
  
  
body.dark a {
    color: #ff6060;
}

body.dark .tag {
    background-color: lighten($primary-color, 10%);
}
  
  

body.dark .header,
body.dark .footer {
    background-color: #2a2a2a;
}
  
a, .tag {
    transition: background 0.3s, color 0.3s;
}


body {
    transition: background-color 0.3s ease, color 0.3s ease;
}